<h1>이벤트 메일링 등록/검색</h1>
<% @mails.each do |mail| %>
	<table>
		<tr id="mail_<%= mail.id %>">
			<td width="200" align="right"><%= mail.email %></td>
			<td>
				<input type="button" value="메일 삭제" onclick="del_mail('<%=mail.id%>')" />
			</td>
		</tr>
	</table>
<% end %>


<script>
	function del_mail(mail_id) {
		$.ajax({
		   url: "/event_mailing_lists/del_mail",
		   dataType:'json',
		   data: {mail_id: mail_id},
		   type:'DELETE',
		   success: function(data){
		       alert("메일주소가 삭제 되었습니다.");
		       $("#mail_" + mail_id).remove();
		   }
		});
	}
</script>
