<h1>이벤트 메일링 등록/검색</h1>

<div id="input_mail">
	<input id="event_mailing_list_email" type="text" />
	<input type="button" id="go" value="메일등록/검색" onclick="go()" />
</div>
<script>
	
	function go(){
		var email = $.trim( $("#event_mailing_list_email").val() );  
	  	if ( email == "" || email == "" ) {
	  		alert("email 입력해주세요.");
	  		return false;
	  	} else {
	  		// $("#new_event_mailing_list").submit();
	  		$("#my_email").remove();
	  		$.ajax({
			   url: "/event_mailing_lists/create_ajax",
			   dataType:'json',
			   type:'POST',
			   data: {mail: email},
			   success: function(data){
				   	var mail = data.data;
				   	var event_receive_users = data.event_receive_users;
				   	var html_str = "";
				   	var site_names = data.site_names;
				   	html_str += "<div id='my_email' style='margin-top: 20px;'>";
				   	html_str += "	<table>";
				   	html_str += "		<tr>";
				   	html_str += "			<td>" + mail.email + "</td>";
				   	html_str += "			<td>";
				   	html_str += "				<input id='del_mail' type='button' value='메일 삭제' onclick='del_mail(\"" + mail.id + "\")' />";
				   	html_str += "			</td>";
				   	html_str += "		</tr>";
				   	html_str += "	</table>";
				   	
				   	html_str += "	<table>";
				   	html_str += "		<tr>";
				   	for(var i = 0; i < event_receive_users.length; i++){
				   		html_str += "			<td>";
				   		html_str += "				<input style='background-color:blue; color:white;' id='receive_true_" + event_receive_users[i].id + "' type='button' value='" + site_names[i] + "' onclick='receive_false(\"" + event_receive_users[i].id + "\")' />";
				   		html_str += "				<input style='background-color:red; color:white;' id='receive_false_" + event_receive_users[i].id + "' type='button' value='" + site_names[i] + "' onclick='receive_true(\"" + event_receive_users[i].id + "\")' />";
				   		html_str += "			</td>";
				   	}
				   	html_str += "		</tr>";
				   	
				   	html_str += "	</table>";
				   	html_str += "</div>";
				   	$("#input_mail").after(html_str)
				   	
				   	for(var i = 0; i < event_receive_users.length; i++){
					   	if(event_receive_users[i].is_receive){
					   		$("#receive_true_" + event_receive_users[i].id).show();
					   		$("#receive_false_" + event_receive_users[i].id).hide();
					   	} else {
					   		$("#receive_true_" + event_receive_users[i].id).hide();
					   		$("#receive_false_" + event_receive_users[i].id).show();
					   	}
					}
			   	
			   }
			});
	  	}
	}
	
	function del_mail(mail_id){
		$.ajax({
		   url: "/event_mailing_lists/del_mail",
		   dataType:'json',
		   data: {mail_id: mail_id},
		   type:'DELETE',
		   success: function(data){
		       alert("메일주소가 삭제 되었습니다.");
		       $("#my_email").remove();
		   }
		});
	}
	
	function receive_true(event_receive_user_id){
		$.ajax({
		   url: "/event_mailing_lists/receive_true",
		   dataType:'json',
		   data: {event_receive_user_id: event_receive_user_id},
		   type:'PUT',
		   success: function(data){
		   		var id = data.event_receive_user_id;
			   	$("#receive_true_" + id).show();
		   		$("#receive_false_" + id).hide();
		   }
		});
		
	}
	
	function receive_false(event_receive_user_id){
		$.ajax({
		   url: "/event_mailing_lists/receive_false",
		   dataType:'json',
		   data: {event_receive_user_id: event_receive_user_id},
		   type:'PUT',
		   success: function(data){
		   		var id = data.event_receive_user_id;
		   		$("#receive_true_" + id).hide();
		   		$("#receive_false_" + id).show();
		   }
		});
		
	}
</script>