<div id="input_word" style="width: 100%; padding: 10px;">
	<input id="word" style="width: 300px;" type="text" />
	<input type="button" id="go" value="검색 단어 등록" onclick="go()" />
</div>
<div style="padding: 10px; width: 100%;">
<table border=1>
	<tr>
		<th>검색어</th>
	</tr>
	<% @deal_search_words.each_with_index do |deal_search_word, i| %>
	<tr id="<%=deal_search_word.id%>" style="background-color: <%= i % 2 == 0 ? '#d2d2d2': 'white' %>">
		<td width="300" style="text-align: center;"><%=deal_search_word.word%></td>
	</tr>
	<%end%>
</table>
</div>
<script>
	function go(){
		var word = $.trim( $("#word").val() );  
	  	if ( word == "" ) {
	  		alert("검색어를 입력해주세요.");
	  		return false;
	  	} else {
	  		// $("#new_event_mailing_list").submit();
	  		$("#word").remove();
	  		$.ajax({
			   url: "/deal_search_words/add_word",
			   dataType:'json',
			   type:'POST',
			   data: {word: word},
			   success: function(data){
				   	location.reload();
			   }
			});
	  	}
	}
</script>
