<h1>롯데시네마 이벤트 알림</h1>
<iframe id="a" src="http://www.megabox.co.kr/?menuId=store&majorCode=02" frameborder=1>
</iframe>
<div>
	<% @event_ary.each do |event| %>
		<div>
			<a href="<%= event[:event_url] %>"><%= event[:event_name] %></a>
		</div>
	<% end %>
</div>
