<%= form_for(@ppomppu) do |f| %>
  <% if @ppomppu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ppomppu.errors.count, "error") %> prohibited this ppomppu from being saved:</h2>

      <ul>
      <% @ppomppu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
